.header{
    display: flex;
    align-items: center;

}
.header .logo{
    width: 100px;
    height: 50px;
}
.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.header .title-group{
    padding-left: 30px;
}
.header .title-group i{
    padding-right: 5px;
}