.sidenav{
    background-color: #3F51B5;
    width: 200px;
    height: 100vh;
}
.sidenav a{
    color: #FFF;
}
.sidenav i{
    padding-right: 10px;
}
.content{
    padding: 15px;  
    background-color: white;
    height: 90%;
}
.container{
    height:50rem;
}